# Bonus: Temperature Analysis I

In [9]:
import pandas as pd
from datetime import datetime as dt

In [10]:
# "tobs" is "temperature observations"
df = pd.read_csv('hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [11]:
# Convert the date column format from string to datetime
# First, create a dataframe for the date column

data = {'date': ['2010-01-01', '2010-01-02', '2010-01-03', '2010-01-04', '2010-01-06',], 
        'value': [1, 1, 1, 1, 1]}
df = pd.DataFrame(data, columns = ['date', 'value'])
print(df)

         date  value
0  2010-01-01      1
1  2010-01-02      1
2  2010-01-03      1
3  2010-01-04      1
4  2010-01-06      1

In [12]:
# Convert df['date'] from string to datetime

pd.to_datetime(df['date'])

0   2010-01-01
1   2010-01-02
2   2010-01-03
3   2010-01-04
4   2010-01-06
Name: date, dtype: datetime64[ns]

In [13]:
# Drop the date column
df = df.drop(df.columns[[0]], axis=1)
df

   value
0      1
1      1
2      1
3      1
4      1

### Compare June and December data across all years

In [14]:
from scipy import stats

In [17]:
hawaii_measurements=pd.read_csv('Instructions/Resources/hawaii_measurements.csv')
hawaii_stations=pd.read_csv('Instructions/Resources/hawaii_stations.csv')
hawaii_measurements.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [18]:
# Filter data for Jun and December

avg_june_temp=hawaii_measurements[hawaii_measurements['date'].str.slice(start=5, stop=7)=='06'].groupby(hawaii_measurements['station']).mean()
avg_dec_temp=hawaii_measurements[hawaii_measurements['date'].str.slice(start=5, stop=7)=='12'].groupby(hawaii_measurements['station']).mean()

In [20]:
# Identify the average temperature for June
avg_june_temp['tobs']

station
USC00511918    69.684211
USC00513117    71.069444
USC00514830    73.224719
USC00516128    69.291262
USC00517948    71.834862
USC00518838    72.421053
USC00519281    69.903226
USC00519397    71.109524
USC00519523    72.433333
Name: tobs, dtype: float64

In [21]:
# Identify the average temperature for December
avg_dec_temp['tobs']

station
USC00511918    69.684211
USC00513117    71.069444
USC00514830    73.224719
USC00516128    69.291262
USC00517948    71.834862
USC00518838    72.421053
USC00519281    69.903226
USC00519397    71.109524
USC00519523    72.433333
Name: tobs, dtype: float64

In [22]:
# Run paired t-test

import scipy.stats as stats
stats.ttest_ind(avg_june_temp['tobs'], avg_dec_temp['tobs'], equal_var=False)

Ttest_indResult(statistic=4.615865424404701, pvalue=0.0003657335214469917)

### Analysis

In [ ]:
# the p-value is 0.000366 < 0.05.
# Based on the t-test result, we reject the null hypothesis.
# We conclude that the average temperature in June 
# is significantly different than the average temperature in December in Hawaii.